@import "../../scss/variables";

.post-layout {
  max-width: 1120px;
  margin: 80px auto 0;
  &-header {
    .post-info {
      margin-left: 1em;
      &-tag {
        margin-right: 2em;
        text-transform: uppercase;
      }
      &-date {
      }
    }
    .post-name {
      font-size: 64px;
      margin-top: 0;
      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
  .page-layout-footer {
    max-width: 50rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .arrow {
      height: 48px;
      line-height: 48px;
      padding: 0;
      margin: 0;
    }
  }
  @media screen and (max-width: $md) {
    .post-name {
      font-size: 48px;
    }
  }
  @media screen and (max-width: $sm) {
    .post-name {
      font-size: 32px;
    }
  }
}
