@import "../../scss/variables";

$xl-img-size: 100px;
$lg-img-size: 80px;

.bio {
  &-avatar {
    display: flex;
    align-items: center;
    img {
      width: 128px;
      height: 128px;
      margin-right: 2rem;
      border-radius: 50%;
      @media screen and (max-width: $lg) {
        width: $xl-img-size;
        height: $xl-img-size;
      }
      @media screen and (max-width: $md) {
        width: $lg-img-size;
        height: $lg-img-size;
      }
    }
  }
}
