@import "../../scss/variables";

.post-list {
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, 33.3%);
  grid-column-gap: 80px;
  font-family: Montserrat;
  .time {
    width: 320px;
    font-size: 96px;
    grid-row-start: span 3;
  }
  .post-item {
    min-width: 640px;
    transition: transform $hover-animation-duration ease-out;
    position: relative;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    color: var(--primary-text);
    &:hover {
      transform: scale(1.08);
    }
    &:active {
      transform: scale(1.05);
    }
    .tag {
      font-size: 0.8em;
      text-transform: uppercase;
    }
    .date {
    }
    .name {
      margin: 0;
      font-size: 1.75em;
      line-height: 1.75;
      word-break: break-word;
      flex: 1;
      display: flex;
      align-items: center;
      font-weight: 400;
    }
  }
  @media screen and(max-width: $lg) {
    grid-column-gap: 40px;
    .post-item {
      min-width: 480px;
    }
  }
  @media screen and (max-width: $md) {
    display: block;
    .time {
      font-size: 64px;
      padding: 0.5em 0;
    }
    .post-item {
      width: inherit;
      min-width: unset;
      &:hover,
      &:active {
        transform: none;
      }
      .name {
        font-size: 24px;
      }
    }
  }
}
