@import "../../scss/variables";

.theme-switcher {
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  right: 39px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  outline: none;
  border: none;
  background: transparent;
  transition: background-color 300ms ease-out;
  border-radius: 4px;
  @media screen and (max-width: $lg) {
    right: 14px;
  }
  &:hover {
    background-color: var(--primary-text-contrast);
  }
  .theme-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.625em;
    margin-top: -0.625em;
    width: 1.25em;
    height: 1.25em;
    fill: var(--primary-text);
    transition: fill 400ms ease-in-out;
  }
}
