@import "./variable";

@mixin color($property, $var, $fallback) {
    #{$property}: $fallback; // 如果不支持css变量则使用这一行
    #{$property}: var($var, $fallback);
}

@mixin darkTheme() {
    --bg: #{$theme-dark-bg};
    --text-color: #{$theme-dark-text-color};
    --text-link-color: #{$theme-dark-text-link-color};
    --hr-color: #{$theme-dark-hr-color};
    --inline-code-bg: #{$theme-dark-inline-code-bg};
    --inline-code-text-color: #{$theme-dark-inline-code-text-color};
}

@mixin lightTheme() {
    --bg: #{$theme-light-bg};
    --text-color: #{$theme-light-text-color};
    --text-link-color: #{$theme-light-text-link-color};
    --hr-color: #{$theme-light-hr-color};
    --inline-code-bg: #{$theme-light-inline-code-bg};
    --inline-code-text-color: #{$theme-light-inline-code-text-color};
}
